div.gallery {
    margin: 5px;
    border: 2px solid #ccc;
    float: left;
  }
  
  div.gallery:hover {
    border: 2px solid #777;
  }
  
  div.gallery img {
    width: 125px;
    height: 180px;
    margin-bottom: 0!important;
    overflow: hidden;
  }

  .gallery-viewport{
    height: 800px;
    width: 100%;
    border: 1px solid saddlebrown;
    display: flex;
    margin-left: 50px;
   }